# Chi - Square test

In [1]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np
dataset = sns.load_dataset('tips')

In [3]:
dataset

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
dataset_table = pd.crosstab(dataset['sex'] , dataset['smoker'])

In [6]:
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [8]:
observed_value = dataset_table.values
print("Observed values : -\n" , observed_value)

Observed values : -
 [[60 97]
 [33 54]]

In [10]:
val = stats.chi2_contingency(dataset_table)
val

(0.0,
 1.0,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [11]:
expected_values = val[3]

In [13]:
no_of_rows = len(dataset_table.iloc[0:2 , 0])
no_of_cols = len(dataset_table.iloc[0 , 0 : 2])
ddof = (no_of_rows - 1) * (no_of_cols - 1)
print("Degree of freedom" , ddof)
alpha = 0.05

Degree of freedom 1

In [18]:
from scipy.stats import chi2
chi_square = sum([(o - e)**2./e for o,e in zip(observed_value , expected_values)])
chi_square_statistic = chi_square[0] + chi_square[1]

In [19]:
print("chi square statistic" , chi_square_statistic)

chi square statistic 0.001934818536627623

In [20]:
critical_value = chi2.ppf(q = 1 - alpha , df = ddof)
print("critical value" , critical_value)

critical value 3.841458820694124

In [21]:
p5_value = 1 - chi2.cdf(x = chi_square_statistic , df = ddof)
print("p value")
print("Significane level" , alpha)
print("Degree of Freedom" , ddof)
print("p-value" , p5_value)

p value
Significane level 0.05
Degree of Freedom 1
p-value 0.964915107315732

In [22]:
if chi_square_statistic >= critical_value:
    print("Reject h0 , there is no relationship between 2 catogorial variables")
else:
    print("Retain h0 , there is no relation between 2 categorial variables")

if p5_value <= alpha:
    print("Reject h0")
else:
    print("Retain h0")

Retain h0 , there is no relation between 2 categorial variables
Retain h0